*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.948);
  color: white;
}
button {
  cursor: pointer;
}
.container {
  background-color: rgba(128, 128, 128, 0.711);
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
  @media (min-width: 500px) {
    width: 80%;
  }
  @media (min-width: 600px) {
    width: 70%;
  }
  @media (min-width: 700px) {
    width: 60%;
  }
  @media (min-width: 850px) {
    width: 50%;
  }
  @media (min-width: 1100px) {
    width: 40%;
  }
}

.buttons {
  width: 90%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 30%;
  height: 35px;
  background-color: #174167;
  color: #ffffff;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  @media(min-width:550px){
    width: 120px;
    height: 45px;
  }
}
.buttons button:nth-last-child(2) {
  background-color: #701c1c;
}
.buttons button:nth-last-child(1) {
  background-color: #167453;
}

.timerDisplay {
  position: relative;
  width: 92%;
  background: rgba(128, 128, 128, 0.711);
  left: 4%;
  padding: 40px 0;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(197, 206, 213, 0.25);
  @media(min-width:600px){
    font-size: 34px;
  }
  @media(min-width:600px){
    font-size: 40px;
  }
}
